@tailwind base;
@tailwind utilities;

.bug {
  background: #78df90;
}

.water {
  background: #43ccff;
}

.grass {
  background: #00ca91;
}

.fire {
  background: #e95c4d;
}

.normal {
  background: #a5a5a5;
}

.poison {
  background: #611380;
}

.flying {
  background: #5eb9b2;
}
